.clearfix #td,p:hover{
    cursor: pointer;
}
.clearfix .cur{

}
.city-name{
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
}
.city-name:hover{
    cursor: pointer;
    background-color: #65a6ff;
}
.cur{
    color: #65a6ff;
    cursor: pointer;
}
.city-table{
   margin-top: -20px;
}
.city-Table{
    margin-top: 11px;
}
