.menu{
    float: left;
}
.drop-down
{
    position:absolute;
    top:56px;
    left:0;
    line-height:18px;
    z-index:9999;
    display:none;
    -webkit-box-shadow:0 0 3px 3px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 3px 3px rgba(0,0,0,.1);
    box-shadow:0 0 3px 3px rgba(0,0,0,.1);
    border-radius:6px;
    overflow:hidden;
    min-width:100%;
    background-color:rgba(255,255,255,.7);
    filter:progid:
    DXImageTransform.Microsoft.gradient(startColorstr=#B2ffffff, endColorstr=#B2ffffff)
}
.drop-down-inner{
    display:none;
    position:absolute;
    left:0;
    top:40px;
    width:86px;
    height:auto;
    padding:8px 4px 0
}
.header{
    width:1200px;
    display:table;
    margin:0 auto
}
.header ul li{float: left}
.header .logo{
    float: left;
}
.header .menu{
    float: left;
    margin: -10px;
    width: 800px;
    height: 143px;
    background: #ffffff;
    font-family: 微软雅黑;
    font-size: 40px;
    list-style-type: none;
}
.header .menu .top-menu-item{
    text-decoration: none;
    color: #007bff;
}
.header ul li div{
    display: none;
}
.header ul li:hover div{
    display: block;
}
.header .menu-dropdown{
    top: 10px;
    left: 40px;
    width: 100px;
    height: 100%;
    position:relative;
    -webkit-box-shadow:0 0 3px 3px rgba(0,0,0,.1);
    -moz-box-shadow:0 0 3px 3px rgba(0,0,0,.1);
    box-shadow:0 0 3px 3px rgba(0,0,0,.1);
    border-radius:6px;
}
.header .menu-dropdown .menu-dropdown-inner p a{
    text-align: center;
    position: relative;
    margin-top: -20px;
    top: 10px;
    left: 0px;
    display:block;
    line-height:20px;
    white-space:nowrap;
    font-size:16px;color:#000;
    text-decoration: none;
}
.header .menu-dropdown .menu-dropdown-inner p a:hover{
    text-decoration:none;
    background-color:#1e90ff;
    color:#fff
}

.menu li.top-menu-item .menu-hd{
    position: relative;
    top: 30px;
    display:inline-block;
    padding-right:20px;
    color:#666;
    text-decoration:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.header .menu li.top-menu-item .menu-hd span{
    padding:60px;
    font-size:16px;
    color:#222
}
.header .menu li.top-menu-item .menu-hd-notlink{
    cursor:default
}
.header .menu li.top-menu-curr .menu-hd span,.header .menu li.top-menu-item:hover .menu-hd span{
    color:#2088c2
}
.header .menu li.top-menu-noclick .menu-hd{
    cursor:pointer
}
.header .menu li.top-menu-noclick .menu-hd:before{
    content:'';
    display:block;
    width:0;
    height:0;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:6px solid #666;
    position:absolute;
    right:10px;
    top:28px
}
.header .clickBtn{
    cursor: pointer;
}
.mainimage .image{
    margin: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    opacity: 0.5;
}
.mainimage .welcome{
    width: 500px;
    margin: auto;
}
.mainimage .welcome .welcomeTo{
    position: relative;
    top: 200px;
    font-size: 35px;
    color: #6055dd;
    left: 120px;
    -webkit-user-select:none;
}
.mainimage .welcome .please{
    position: relative;
    top: 200px;
    left: 40px;
    font-size: 35px;
    color: #6055dd;
    -webkit-user-select:none;
}
/*
以下是按航班号查询界面的css
 */
.mainimage .flightNumWindow{
    position: relative;
    top: 250px;
    width: 1000px;
    margin: auto;
}
.mainimage .flightNumWindow .flightNum{
    position: relative;
    top: 20px;
    font-size: 23px;
}
.mainimage .flightNumWindow .flightNumInput{
    background: #faffff;
    line-height:2;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    position: relative;
    top: -40px;
    left: 100px;
}
.mainimage .flightNumWindow .date{
    position: relative;
    top: -102px;
    left: 385px;
    font-size: 23px;
}
.mainimage .flightNumWindow .dateInput{
    background: #faffff;
    line-height:1.7;
    font-size: 1.38rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    position: relative;
    top: -161px;
    left: 510px;
}
.mainimage .flightNumWindow .flightNumBtn{
    position: relative;
    line-height:1.8;
    top: -220px;
    left: 770px;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #2d2d2d;
}
/*
以下是按起始地查询界面的css
 */
.mainimage .takeOffWindow{
    position: relative;
    top: 250px;
    width: 1250px;
    margin: auto;
}
.mainimage .takeOffWindow .departure{
    position: relative;
    top: 20px;
    font-size: 23px;
}
.mainimage .takeOffWindow .departureInput{
    line-height:2;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    position: relative;
    top: -40px;
    left: 100px;
}
.mainimage .takeOffWindow .arrive{
    position: relative;
    top: -100px;
    left: 350px;
    font-size: 23px;
}
.mainimage .takeOffWindow .arriveInput{
    background: #faffff;
    line-height:2;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    position: relative;
    top: -160px;
    left: 450px;
}
.mainimage .takeOffWindow .date{
    position: relative;
    top: -220px;
    left: 700px;
    font-size: 23px;
}
.mainimage .takeOffWindow .dateInput{
    background: #faffff;
    line-height:1.7;
    font-size: 1.38rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    position: relative;
    top: -280px;
    left: 820px;
}
.mainimage .takeOffWindow .takeOffBtn{
    position: relative;
    line-height:1.8;
    top: -340px;
    left: 1050px;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #2d2d2d;
}
.mainimage .departure-list{
    border-radius: 5px;
    width: 569px;
    position: relative;
    left: -399px;
    margin: auto;
    z-index: 101;
}
.mainimage .departure-list .departure-table{
    border-collapse: collapse;
    position: relative;
    top: -100px;
    left: 158px;
    border-radius: 5px;
}
.mainimage .departure-list .departure-table .departure-city{
    width: 569px;
    cursor: pointer;
    background-color: #fff9ff;
}
.mainimage .departure-list .departure-table .departure-city:hover{
    background-color: #7fb2ff;
}
.mainimage .arrive-list{
    border-radius: 5px;
    width: 569px;
    position: relative;
    left: -399px;
    margin: auto;
    z-index: 101;
}
.mainimage .arrive-list .arrive-table{
    border-collapse: collapse;
    position: relative;
    top: -100px;
    left: 158px;
    border-radius: 5px;
}
.mainimage .arrive-list .arrive-table .arrive-city{
    width: 569px;
    cursor: pointer;
    background-color: #fff9ff;
}
.mainimage .arrive-list .arrive-table .arrive-city:hover{
    background-color: #7fb2ff;
    border-radius: 5px;
}
.mainimage .flight-list{
    width: 568px;
    margin: auto;
    position: relative;
    left: -241px;
    top: -105px;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 100;
}
.mainimage .flight-list .city-Table{
    border-collapse: collapse;
    /*padding-top: 50px;*/
}
.clearfix #td,p:hover{
    cursor: pointer;
}
.clearfix .cur{

}
.city-name{
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
}
.city-name:hover{
    cursor: pointer;
    background-color: #65a6ff;
}
.cur{
    color: #65a6ff;
    cursor: pointer;
}
.city-table{
    margin-top: -20px;
}
/*
 */
.login{
    position: relative;
    background: #7fb2ff;
    left: 50px;
    top: 20px;
    padding: 10px;
    list-style-type: none;
    border-radius: 5px;
}
.logbtn{
    text-decoration: none;
    font-size:16px;color:#000;
    float: right;
}
/*
下面是有关航班信息的css
 */
.data{
    background: #c3c6e2;
    position: relative;
    top: 120px;
    border: 1px solid #b4bdb8;
    width: 1400px;
    margin: auto;
    border-radius: 5px;
}
.data-num{
    position: relative;
    top: 120px;
    width: 1300px;
    margin: auto;
}
.flight-data-list{
    border: 10px solid red;
}
.data .flight-data{
    text-align: center;
    border: 22px;
}
.data .btn{
    border-radius: 2px;
    color: #5b4c7b;
    font: bold;
    border-color: navajowhite;
    background-color: #d4ead3;
}
/*
下面是有关登录页面的css
 */
.title{
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 1.5em;
    font-family: "微软雅黑 Light";
}
.input-window{
    background: #faffff;
    line-height:2;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
}
.login-window{
    position: relative;
    top: 80px;
    text-align: center;
    width: 100%;
    height: 500px;
}
.usename{
    position: relative;
    left: -252px;
}
.pwd{
    position: relative;
    left: -260px;
}
.pwdAgain{
    position: relative;
    left: -228px;
}
.tel{
    position: relative;
    left: -230px;
}
.email{
    position: relative;
    left: -245px;
}
.remember{
    position: relative;
    left: -230px;
}
.forget{
    text-decoration: none;
    font-family: 微软雅黑;
    color: black;
    position: relative;
    top: -38px;
    left: 240px;
}
.login-btn{
    position: relative;
    font-family: 微软雅黑;
    font-size: large;
    background-color: #4db960;
    border-radius: 5px;
    width: 538px;
    height: 30px;
    cursor: pointer;
}
.noAccount{
    position: relative;
    top: -40px;
    text-decoration: none;
    font-family: 微软雅黑;
    color: black;
}
/*
以下是修改密码的css
 */
.change-window{
    width: 550px;
    margin: auto;
}
.mainimage .change-window .confirm-email{
    position: relative;
    font-size: 25px;
    color: #6055dd;
    left: 110px;
    top: 80px;
}
.change-window .confirm-btn{
    position: relative;
    font-family: 微软雅黑;
    font-size: large;
    background-color: #4db960;
    border-radius: 5px;
    width: 320px;
    height: 30px;
    cursor: pointer;
    top: 110px;
    left: 110px;
}
/*
以下是我的信息的css
 */
.mainimage .myInfo{
    width: 500px;
    margin: auto;
    position: relative;
    left: 50px;
    top: 120px;
}
.mainimage .myInfo .myname{
    position: relative;
    font-size: 20px;
}
.mainimage .myInfo .username-text{
    position: relative;
    background: #faffff;
    line-height:2;
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    width: 70%;
}
.mainimage .myInfo .myemail{
    position: relative;
    font-size: 20px;
}
.mainimage .myInfo .email-text{
    position: relative;
    background: #faffff;
    line-height:2;
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem;
    border: 2px;
    border-radius: 5px;
    width: 70%;
}
.mainimage .myInfo .save{
    position: relative;
    font-family: 微软雅黑;
    font-size: large;
    background-color: #4db960;
    border-radius: 5px;
    width: 75%;
    height: 35px;
    cursor: pointer;
}
/*
以下是注销的css
 */
.mainimage .logoff{
    width: 400px;
    margin: auto;
}
.mainimage .logoff1{
    position: relative;
    top: 150px;
    color: #6055dd;
    font-size: 30px;
    -webkit-user-select:none;
}
.mainimage .logoff2{
    position: relative;
    top: 150px;
    color: #6055dd;
    font-size: 30px;
    left: 40px;
    -webkit-user-select:none;
}
.mainimage .logoffBtn{
    position: relative;
    top: 150px;
    left: 80px;
    font-size: 20px;
    width: 150px;
    background-color: #ff2321;
}
/*
以下是关注列表的css
 */
.mainimage .follow-num{
    width: 550px;
    margin: auto;
    position: relative;
    top: 150px;
    color: #6055dd;
    font-size: large;
}
.mainimage .follow-num .not{
    position: relative;
    font-size: 35px;
    left: 100px;
    -webkit-user-select:none;
}
.mainimage .followlist{
    width: 550px;
    margin: auto;
    font-size: large;
    background-color: aliceblue;
    border-radius: 5px;
    position: relative;
    top: 150px;
    text-align: center;
}
.mainimage .followlist .follow-table .btn{
    position: relative;
    top: -2px;
    border-radius: 2px;
    color: #5b4c7b;
    font: bold;
    border-color: navajowhite;
    background-color: #d4ead3;
}
/*
以下是详细航班信息的css
 */
.detail{
    position: relative;
    top: 100px;
    width: 800px;
    margin: auto;
}
.detail .mainInfo{
    width: 100%;
    font-family: 微软雅黑;
    font-size: medium;
    position: relative;
    top: 10px;
}
.detail .status{
    color: #2a33ff;
    float: right;
    position: relative;
    top: -53px;
}
.wholeJourney{
    height: 120%;
    background-color: aliceblue;
}
.detail .wholeJourney .distanceAndTime{
    text-align: center;
    position: relative;
    top: 15px;
}
.detail .wholeJourney .takeOff{
    text-align: center;
    position: relative;
    font-size: medium;
    color: #303037;
}
.detail .planInfo{
    position: relative;
    top: 1px;
    height: 50px;
    background-color: aliceblue;
    font-size: small;
    font-family: 微软雅黑;
}
.planInfo .planInfoItem1{
    position: relative;
    float: left;
    left: 70px;
}
.planInfo .planInfoItem2{
    position: relative;
    float: left;
    left: 150px;
}
.planInfo .planInfoItem3{
    position: relative;
    float: left;
    left: 230px;
}
.planInfo .planInfoItem4{
    position: relative;
    float: left;
    left: 310px;
}
.cityName{
    position: relative;
    top: 10px;
    left: 50px;
}
.allCity .cityFrom{
    width: 100%;
    height: 100%;
    background-color: #edecf4;
    border-radius: 5px;
    font-size: medium;
    width: 100%;
    height: 150px;
    border: 40px;
    border-color: #6c61ff;
    position: relative;
}
.allCity .cityFrom .act-takeOff{
    position: relative;
    left: 320px;
    top: -145px;
}
.allCity .cityFrom .takeOffTime{
    position: relative;
    left: 320px;
    top: -145px;
    font-size: x-large;
    color: #505abb;
}
.allCity .cityFrom .counter{
    position: relative;
    left: 490px;
    top: -247px;
}
.allCity .cityFrom .counterInfo{
    position: relative;
    left: 495px;
    top: -247px;
    font-size: x-large;
    color: #505abb;
}
.allCity .cityFrom .boardGate{
    position: relative;
    left: 670px;
    top: -348px;
}
.allCity .cityFrom .boardGateInfo{
    position: relative;
    left: 679px;
    top: -348px;
    font-size: x-large;
    color: #505abb;
}
.allCity .cityFrom .weather{
    position: relative;
    left: 60px;
    top: 3px;
}
.allCity .cityFrom .dig{
    position: relative;
    left: 130px;
    top: -34px;
    color: #505abb;
}
.allCity .cityFrom .pm{
    position: relative;
    left: 130px;
    top: -43px;
    color: #505abb;
}
.allCity .cityFrom .delay{
    position: relative;
    left: 130px;
    top: -52px;
    color: #505abb;
}
.allCity .cityStop{
    font-size: medium;
    width: 100%;
    border-radius: 5px;
    height: 250px;
    background-color: #edecf4;
    position: relative;
    top: 5px;
}
.allCity .cityStop .act-land{
    position: relative;
    left: 320px;
    top: -145px;
}
.allCity .cityStop .landTime{
    position: relative;
    left: 320px;
    top: -145px;
    font-size: x-large;
    color: #505abb;
}
.allCity .cityStop .luggage{
    position: relative;
    left: 490px;
    top: -247px;
}
.allCity .cityStop .luggageInfo{
    position: relative;
    font-size: x-large;
    color: #505abb;
    left: 500px;
    top: -247px;
}
.allCity .cityStop .landPost{
    position: relative;
    left: 670px;
    top: -349px;
}
.allCity .cityStop .landPostInfo{
    position: relative;
    font-size: x-large;
    color: #505abb;
    left: 678px;
    top: -349px;
}
.allCity .cityStop .act-takeOff{
    position: relative;
    left: 320px;
    top: -345px;
}
.allCity .cityStop .takeOffTime{
    position: relative;
    font-size: x-large;
    color: #505abb;
    left: 320px;
    top: -345px;
}
.allCity .cityStop .counter{
    position: relative;
    left: 490px;
    top: -446px;
}
.allCity .cityStop .counterInfo{
    position: relative;
    left: 495px;
    top: -446px;
    font-size: x-large;
    color: #505abb;
}
.allCity .cityStop .boardGate{
    position: relative;
    left: 670px;
    top: -547px;
}
.allCity .cityStop .boardGateInfo{
    position: relative;
    font-size: x-large;
    color: #505abb;
    left: 678px;
    top: -547px;
}
.allCity .cityStop .weather{
    position: relative;
    left: 60px;
    top: 3px;
}
.allCity .cityStop .dig{
    position: relative;
    left: 130px;
    top: -34px;
    color: #505abb;
}
.allCity .cityStop .pm{
    position: relative;
    left: 130px;
    top: -43px;
    color: #505abb;
}
.allCity .cityStop .delay{
    position: relative;
    left: 130px;
    top: -52px;
    color: #505abb;
}
.allCity .cityLand{
    font-size: medium;
    width: 100%;
    border-radius: 5px;
    height: 150px;
    background-color: #edecf4;
    position: relative;
    top: 10px;
    z-index: 1;
}
.allCity .cityLand .dec-land{
    position: relative;
    left: 320px;
    top: -145px
}
.allCity .cityLand .landTime{
    position: relative;
    left: 320px;
    top: -145px;
    font-size: x-large;
    color: #505abb;
}
.allCity .cityLand .luggage{
    position: relative;
    left: 490px;
    top: -247px;
}
.allCity .cityLand .luggageInfo{
    position: relative;
    font-size: x-large;
    color: #505abb;
    left: 500px;
    top: -247px;
}
.allCity .cityLand .landPost{
    position: relative;
    left: 670px;
    top: -349px;
}
.allCity .cityLand .landPostInfo{
    position: relative;
    font-size: x-large;
    color: #505abb;
    left: 678px;
    top: -349px;
}
.allCity .cityLand .weather{
    position: relative;
    left: 60px;
    top: 3px;
}
.allCity .cityLand .dig{
    position: relative;
    left: 130px;
    top: -34px;
    color: #505abb;
}
.allCity .cityLand .pm{
    position: relative;
    left: 130px;
    top: -43px;
    color: #505abb;
}
.allCity .cityLand .delay{
    position: relative;
    left: 130px;
    top: -52px;
    color: #505abb;
}
.allCity .cityName{
    color: #7b242d;
}