<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检查登录/注册信息</title>
    <script src="userInfo.js"></script>
    <script>
        var url = location.search;
        var op = 0;
        var user = "";
        var pwd = "";
        var email = "";
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);//substr()方法返回从参数值开始到结束的字符串；
            strs = str.split("&");
            if(strs[0].split(":")[1] == "1"){
                op = 1;
            }
            else{
                op = 2;
            }
            user = strs[1].split(":")[1];
            pwd = strs[2].split(":")[1];
            email = strs[3].split(":")[1];
        }
        function ajaxFunction(){
            var xmlHttp;
            try{ // Firefox, Opera 8.0+, Safari
                xmlHttp=new XMLHttpRequest();
            }
            catch (e){
                try{// Internet Explorer
                    xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e){
                    try{
                        xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e){}
                }
            }

            return xmlHttp;
        }
        var xhr = ajaxFunction();
        var jsonData1 = JSON.stringify({
            username:user,
            password:pwd,
        })
        var jsonData2 = JSON.stringify({
            username:user,
            password:pwd,
            email:email,
        })
        if(op == 1){
            xhr.onreadystatechange = function(){
                if(xhr.readyState==4){
                    var responseData = JSON.parse(xhr.responseText);
                    if(JSON.stringify(responseData.statusCode) == 0){
                        alert("用户名或密码错误！");
                        window.location.href = "login.html";
                    }
                    else if(JSON.stringify(responseData.statusCode) == -1){
                        alert("账户未激活，请前往邮箱进行激活！");
                        window.location.href = "login.html";
                    }
                    else{
                        alert("登录成功！");
                        setUserName(user);
                        setPwd(pwd);
                        setToken(JSON.stringify(responseData.token));
                        login();
                        window.location.href = "homepage.html";
                    }
                }
            }
            xhr.open("POST","http://114.115.134.119:5000/beta/login",true);
            xhr.setRequestHeader("Content-type","application/json");
            xhr.send(jsonData1);
        }
        else{
            xhr.onreadystatechange = function(){
                if(xhr.readyState==4){
                    responseData = JSON.parse(xhr.responseText);
                    alert("注册成功！请前往邮箱激活!");
                    setEmail(email);
                    window.location.href = "login.html";
                }
            }
            xhr.open("POST","http://114.115.134.119:5000/beta/register",true);
            xhr.setRequestHeader("Content-type","application/json");
            xhr.send(jsonData2);
        }
    </script>
</head>
<body>

</body>
</html>