<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>航班详细信息</title>
    <link rel="stylesheet" href="style.css">
    <script src="userInfo.js"></script>
    <script>
        var localPage = "detialInfo.html";
        var responseData;
        var url = location.search;
        var detialUrl;
        var islogin = 0;
        var length;
        var count = 0;
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);//substr()方法返回从参数值开始到结束的字符串；
            detialUrl = str.split("==")[1];
        }
        function ajaxFunction(){
            var xmlHttp;
            try{ // Firefox, Opera 8.0+, Safari
                xmlHttp=new XMLHttpRequest();
            }
            catch (e){
                try{// Internet Explorer
                    xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
                }
                catch (e){
                    try{
                        xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e){}
                }
            }

            return xmlHttp;
        }
        var xhr = ajaxFunction();
        var jsonData = JSON.stringify({
            url:detialUrl,
        })
        xhr.onreadystatechange = function(){
            if(xhr.readyState==4){
                responseData = JSON.parse(xhr.responseText);
                var str = "";
                str += '<div class="mainInfo">\n' +
                    '            <p><b>'+deleteMark(JSON.stringify(responseData.corp_name_and_flight_code))+'</b></p>\n' +
                    '            <p class="status"><b>'+deleteMark(JSON.stringify(responseData.flight_status))+'</b></p>\n' +
                    '        </div>\n' +
                    '        <div class="wholeJourney">\n' +
                    '            <p class="distanceAndTime">'+deleteMark(JSON.stringify(responseData.flight_distance))+'&nbsp'+deleteMark(JSON.stringify(responseData.flight_dur_time))+'</p>\n' +
                    '            <p class="takeOff">' + deleteMark(JSON.stringify(responseData.dep_city))+'&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp————————————————————————&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'+deleteMark(JSON.stringify(responseData.arri_city))+'</p>\n' +
                    '        </div>\n' +
                    '        <div class="planInfo">\n' +
                    '            <p class="planInfoItem1">机型:'+deleteMark(JSON.stringify(responseData.plane_type))+'</p>\n' +
                    '            <p class="planInfoItem2">机龄:'+deleteMark(JSON.stringify(responseData.plane_age))+'</p>\n' +
                    '            <p class="planInfoItem3">历史准点率:--</p>\n' +
                    '            <p class="planInfoItem4">'+change(deleteMark(JSON.stringify(responseData.delay_time_tip)))+'</p>\n' +
                    '        </div>\n' +
                    '        <div>\n' +
                    '            <p>'+deleteMark(JSON.stringify(responseData.pre_fligt))+'</p>\n' +
                    '        </div>';
                var cityData = responseData.airp_datas;
                var arr = [];
                arr.push(cityData);
                str+='<div class="allCity">';
                for(var i = 0;i < arr.length;i++){
                    length = Object.keys(arr[i]).length;
                    for(var key in arr[i]){
                        if(count == 0){
                            str += '<div class="cityFrom">\n' +
                                '                <div class="cityName">\n' +
                                '                    <p>起点&nbsp:&nbsp'+key+'</p>\n' +
                                '                </div>' ;
                            str+=
                                '  <div>' +
                                '                <p class="weather">天气&nbsp:</p>\n' +
                                '                <p class="dig">'+arr[i][key]["weather"][0]+'</p>\n' +
                                '                <p class="pm">'+arr[i][key]["weather"][1]+'</p>\n' +
                                '                <p class="delay">'+arr[i][key]["weather"][2]+'</p>' ;
                            if(arr[i][key]["实际起飞"] != null){
                                str+=
                                    '          <p class="act-takeOff">实际起飞</p>\n' +
                                    '                <p class="takeOffTime">'+arr[i][key]["实际起飞"]+'</p>\n' ;
                            }
                            else{
                                str+=
                                    '                <p class="act-takeOff">预计起飞</p>\n' +
                                    '                <p class="takeOffTime">'+arr[i][key]["预计起飞"]+'</p>\n' ;
                            }
                              str+=
                                '    <p class="counter">值机柜台</p>\n' +
                                  '                <p class="counterInfo">'+arr[i][key]["值机柜台"]+'</p>\n' +
                                  '                <p class="boardGate">登机口</p>\n' +
                                  '                <p class="boardGateInfo">'+arr[i][key]["登机口"]+'</p>' +
                                '    </div></div>';
                        }
                        else if(count == length - 1){
                            str += '<div class="cityLand">\n' +
                                '                <div class="cityName">\n' +
                                '                    <p>终点&nbsp:&nbsp'+key+'</p>\n' +
                                '                </div>' ;
                            str+=
                                '<div>'+
                                '                <p class="weather">天气&nbsp:</p>\n' +
                                '                <p class="dig">'+arr[i][key]["weather"][0]+'</p>\n' +
                                '                <p class="pm">'+arr[i][key]["weather"][1]+'</p>\n' +
                                '                <p class="delay">'+arr[i][key]["weather"][2]+'</p>' ;
                            if(arr[i][key]["实际到达"] != null){
                                str+=
                                    '               <p class="dec-land">实际到达</p>\n' +
                                    '                <p class="landTime">'+arr[i][key]["实际到达"]+'</p>\n' ;
                            }
                            else{
                                str+=
                                    '             <p class="dec-land">预计到达</p>\n' +
                                    '                <p class="landTime">'+arr[i][key]["预计到达"]+'</p>\n' ;
                            }
                            str+=
                                '                <p class="luggage">行李转盘</p>\n' +
                                '                <p class="luggageInfo">'+arr[i][key]["行李转盘"]+'</p>\n' +
                                '                <p class="landPost">到达口</p>\n' +
                                '                <p class="landPostInfo">'+arr[i][key]["到达口"]+'</p>\n' ;
                                str+= '</div></div>';
                        }
                        else{
                            str += '<div class="cityStop">\n' +
                                '                <div class="cityName">\n' +
                                '                    <p>'+key+'</p>\n' +
                                '                </div>' ;
                            str+=
                                '  <div>' +
                                '                <p class="weather">天气&nbsp:</p>\n' +
                                '                <p class="dig">'+arr[i][key]["weather"][0]+'</p>\n' +
                                '                <p class="pm">'+arr[i][key]["weather"][1]+'</p>\n' +
                                '                <p class="delay">'+arr[i][key]["weather"][2]+'</p>' ;
                            if(arr[i][key]["实际到达"] != null){
                                str+=
                                    '             <p class="act-land">实际到达</p>\n' +
                                    '                <p class="landTime">'+arr[i][key]["实际到达"]+'</p>\n' ;
                            }
                            else{
                                str+=
                                    '               <p class="act-land">预计到达</p>\n' +
                                    '                <p class="landTime">'+arr[i][key]["预计到达"]+'</p>\n' ;
                            }
                            str+=
                                '                <p class="luggage">行李转盘</p>\n' +
                                '                <p class="luggageInfo">'+arr[i][key]["行李转盘"]+'</p>\n' +
                                '                <p class="landPost">到达口</p>\n' +
                                '                <p class="landPostInfo">A3</p>\n' ;
                            if(arr[i][key]["实际起飞"] != null){
                                str+=
                                    '                <p class="act-takeOff">实际起飞</p>\n' +
                                    '                <p class="takeOffTime">'+arr[i][key]["实际起飞"]+'</p>\n' ;
                            }
                            else{
                                str+=
                                    '                <p class="act-takeOff">预计起飞</p>\n' +
                                    '                <p class="takeOffTime">'+arr[i][key]["预计起飞"]+'</p>\n' ;
                            }
                            str+=
                                '                <p class="counter">值机柜台</p>\n' +
                                '                <p class="counterInfo">'+arr[i][key]["值机柜台"]+'</p>\n' +
                                '                <p class="boardGate">登机口</p>\n' +
                                '                <p class="boardGateInfo">'+arr[i][key]["登机口"]+'</p>' +
                                '</div></div>';
                        }
                        count++;
                    }
                }
                str+='</div>';
                document.getElementById("detailInfo").innerHTML=str;
                if(get_cookie("islogin") == 0){
                    var str = '<li class="login">\n' +
                        '                <a href="login.html" class="logbtn">登录/注册</a>\n' +
                        '            </li>';
                    document.getElementById("login").innerHTML = str;
                }
            }
        }
        xhr.open("POST","http://114.115.134.119:5000/beta/detailedInfo",true);
        xhr.setRequestHeader("Content-type","application/json");
        xhr.send(jsonData);
        function deleteMark(str){
            var newStr;
            newStr = str.replace(/"/g,'',);
            return newStr;
        }
        function change(str) {
            if(str[0]=="仅"){
                str ="("+str;
                var a = str.length;
                var newStr = str.replace(/\\n/g,')',);
                return newStr;
            }
            else{
                return str;
            }
        }
    </script>
</head>
<body>
<div class="header">
    <div class="logo">
        <a href="homepage.html">
            <img src="image/logo.jpg" width="200px" alt="logo">
        </a>
    </div>
    <ul class="menu">
        <li class="top-menu-item top-menu-noclick">
            <a href="homepage.html" class="menu-hd cur_pointer"><span>首页</span></a>
        </li>
        <li class="top-menu-item top-menu-noclick">
            <a class="menu-hd" ><span>航班查询</span></a>
            <div class="menu-dropdown">
                <div class="menu-dropdown-inner">
                    <p><a class="clickBtn" onclick="toFlightNum(localPage)">按航班号</a></p>
                    <p><a class="clickBtn" onclick="toTakeOff(localPage)">按起降地</a></p>
                </div>
            </div>
        </li>
        <li class="top-menu-item top-menu-noclick">
            <a class="menu-hd"><span>个人中心</span></a>
            <div class="menu-dropdown">
                <div class="menu-dropdown-inner">
                    <p><a class="clickBtn" onclick="toChangePwd(localPage)">修改密码</a></p>
                    <p><a class="clickBtn" onclick="toMyInfo(localPage)">我的信息</a></p>
                    <p><a class="clickBtn" onclick="toLogOff(localPage)">注销</a></p>
                    <p><a class="clickBtn" onclick="toFollowList(localPage)">关注列表</a></p>
                </div>
            </div>
        </li>
    </ul>
    <ul id="login">

    </ul>
</div>
<div class="mainimage">
    <div class="image">
        <img src="image/page1.jpg" width="100%">
    </div>
    <div id = "detailInfo" class = "detail">

    </div>
</div>
</body>
</html>